<div class="container">
  <div class="container layer2" style="margin-top: 50pt; padding: 10pt">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a href="/genre/<%= news.category %>"><%= news.category %></a>
        </li>
      </ol>
    </nav>

    <header>
      <h1 style="color: white"><%= news.title %></h1>
    </header>

    <div style="color: white">
      <p class="tanggal">
        BeritaKita.com - <%= moment(news.createdAt).format( 'MMM DD , YYYY') %>
      </p>
    </div>

    <div class="col-sm-10">
      <div class="social-inline form-inline" style="color: white">
        <p><b>Bagikan: </b></p>
        <div class="social social-article form-inline">
          <div class="social-item">
            <a href="">
              <img
                src="src/fb.png"
                style="
                  width: 30px;
                  height: 30px;
                  float: left;
                  margin-left: 10px;
                "
              />
            </a>
          </div>
          <div class="social-item">
            <a href="">
              <img
                src="src/twt.png"
                style="
                  width: 30px;
                  height: 30px;
                  float: left;
                  margin-left: 10px;
                "
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="gambar">
      <img style="width: 100%" src="<%= news.img %>" />
    </div>

    <br /><br />

    <article style="color: white">
      <% news.text.forEach(function(newsText) { %>
      <p><%= newsText %></p>
      <br />
      <% }) %>
    </article>
  </div>

  <br />

  <div>
    <div style="color: whitesmoke">
      <p class="A1"><b>Berita lainnya:</b></p>
      <hr class="txtcolor" size="300px" noshade="" />

      <div class="container">
        <div class="row" style="margin: auto">
          <!-- Berita 1 -->
          <div class="col-sm" style="background-color: rgb(75, 75, 75)">
            <a class="my-2" href="Berita2.html"
              ><img src="src/brt2.jpg" style="width: 100%" />
              <p>Jakarta PSBB, Cianjur Dirikan Posko di 3 Titik Perbatasan</p>
            </a>
          </div>

          <!-- Berita 2 -->
          <div class="col-sm" style="background-color: rgb(75, 75, 75)">
            <a class="my-2" href="Berita2.html"
              ><img src="src/brt3.jpg" style="width: 100%" />
              <p>
                Dampak PSBB Jakarta, Perantau yang Mudik ke Wonogiri Melonjak
              </p>
            </a>
          </div>

          <!-- Berita 3 -->
          <div class="col-sm" style="background-color: rgb(75, 75, 75)">
            <a class="my-2" href="Berita6.html"
              ><img src="src/brt4.jpg" style="width: 100%" />
              <p>
                Anggota DPR: Atasi Covid-19, Kebijakan DKI dan Bodebek Harus
                Sama
              </p>
            </a>
          </div>

          <!-- Berita 4 -->
          <div class="col-sm" style="background-color: rgb(75, 75, 75)">
            <a class="my-2" href="Berita6.html"
              ><img src="src/brt2.jpg" style="width: 100%" />
              <p>Jakarta PSBB, Cianjur Dirikan Posko di 3 Titik Perbatasan</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="comment" style="background-color: white; padding: 1cm">
    <h2 style="text-align: center"><b> Leave Us a Comment</b></h2>
    <form>
      <textarea
        name="comments"
        id="comments"
        cols="140"
        rows="10"
        placeholder="Tulis Komentar anda.."
        onkeydown="limitText(this,300)"
        onkeyup="limitText(this,300)"
      ></textarea>
      <span class="comment_error" style="display: none"
        >Kolom Komentar Masing Kosong</span
      >
      <div class="btncmnt">
        <input
          type="Submit"
          value="Comment"
          style="
            font-weight: bold;
            cursor: pointer;
            color: #fff;
            background-color: #273c75;
          "
        />
        <button
          type="button"
          id="clear"
          style="
            font-weight: bold;
            cursor: pointer;
            color: #333;
            background-color: white;
          "
        >
          Cancel
        </button>
      </div>
    </form>
  </div>

  <script src="plugin.js"></script>
</div>
