<script>
  $(document).ready(function(){
  
    // Go to the second item
    $("#myBtn1").click(function(){
      $("#carouselExampleCaptions").carousel(0);
    });
    $("#myBtn2").click(function(){
      $("#carouselExampleCaptions").carousel(1);
    });
      
    $("#myBtn3").click(function(){
      $("#carouselExampleCaptions").carousel(2);
    });
    $("#myBtn4").click(function(){
      $("#carouselExampleCaptions").carousel(3);
    });
    
  });
  </script>


  <style>
    .dropdown-item {
      color: black
    }
    .navbar a:hover,
    .nav-item:hover {
      background-color: grey;
    }
    .dropdown-menu a:hover {
      background-color: grey;
    }
    .dropdown:hover>.dropdown-menu{
      display: block;
    }
    .dropdown>.nav-link:active {
    pointer-events: none;
    }
    p.headline {
    font-size: 12pt;
    }
    .txtcolor {
    color: white;
    }
    .example4 {
    color: white;
    text-shadow: -1px 1px 0 #000,
      1px 1px 0 #000,
      1px -1px 0 #000;
    }
    
    .topnav {
      position: relative;
      overflow: hidden;
      background-color: black;
      color: whitesmoke;
      text-align: center;
    }
  .topnav a {
      color: grey;
      padding: 5px 5px;
      font-size: 14px;
    }
  
  .nabbuton a {
      color: black;
      padding: 5px 5px;
      font-size: 12px;
      }
  </style>
  <div class="container layer2" style="margin-top: 50pt; padding: 10pt;">
    <div class="container">
      <h1 class="txtcolor">Headline</h1>
      <hr class="txtcolor" size="300px" noshade="">
      <div class="container">
        <div class="row" style="padding: 10pt">
          
          <div class="col-xs-6">

            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" class="active"></li>
                <li data-target="#carouselExampleCaptions"></li>
                <li data-target="#carouselExampleCaptions"></li>
                <li data-target="#carouselExampleCaptions"></li>
              </ol>

              <div class="carousel-inner">
                <% for(var i=0;i<4; i++) { %>
                  <% if(i==0) { %>
                  <div class="carousel-item active">
                    <a href="/news/<%= headline[i]._id %>">
                      <img src="<%= headline[i].img %>" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5 class="example4"><%= headline[i].title %></h5>
                      </div>
                    </a>
                  </div>
                  <% } else { %>
                    <div class="carousel-item">
                      <a href="/news/<%= headline[i]._id %>">
                        <img src="<%= headline[i].img %>" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5 class="example4"><%= headline[i].title %></h5>
                        </div>
                      </a>
                    </div>
                    <% } %>
              <% } %>
              </div>
            
              <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          
          
            <div class="row row-cols-4" style="margin:auto; background-color: black; ">
              <% for(var i=0;i<4; i++) { %>
                <% if(i==0) { %>
              <div class="col-xs-6" type="button">
                <a class="cols-xs-6" id="myBtn1">
                  <img src="<%= headline[i].img %>" style="max-width: 100%;">
                </a>
                <a class="headline txtcolor" href="/news/<%= headline[i]._id %>">
                  <%= headline[i].title %>
                </a>
              </div>
              <% } else if(i==1) { %>
                <div class="col-xs-6" type="button">
                  <a class="" id="myBtn2">
                    <img src="<%= headline[i].img %>" style="max-width: 100%;">
                  </a>
                  <a class="headline txtcolor" href="/news/<%= headline[i]._id %>">
                    <%= headline[i].title %>
                  </a>
                </div>
              <% } else if(i==2) { %>
                <div class="col-xs-6" type="button">
                  <a class="" id="myBtn3">
                    <img src="<%= headline[i].img %>" style="max-width: 100%;">
                  </a>
                  <a class="headline txtcolor" href="/news/<%= headline[i]._id %>">
                    <%= headline[i].title %>
                  </a>
                </div>
                <% } else if(i==3) { %>
                  <div class="col-xs-6" type="button">
                    <a class="headline txtcolor" id="myBtn4">
                      <img src="<%= headline[i].img %>" style="max-width: 100%;">
                    </a>
                    <a class="headline txtcolor" href="/news/<%= headline[i]._id %>">
                      <%= headline[i].title %>
                    </a>
                  </div>
                  <% } %>
              <% } %>
            </div>
        </div>
      </div>
    </div>


      <br><br>
     
      <h1 class="txtcolor">Sorotan</h1>
      <hr class="txtcolor" size="300px" noshade="">
        <div class="col">
          <div class="container">
            <div class="row row-cols-3">
              <% for(var i=0;i<3; i++) { %>
                <div class="container">
                    <a href="/news/<%= sorotan[i]._id %>">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="col-auto d-none d-lg-block">
                              <img src="<%= sorotan[i].img %>" style="width:auto;"class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></img>
                          </div>
                          <div class="col p-4 d-flex flex-column position-static">
                              <strong class="d-inline-block mb-2 text-primary"><%= sorotan[i].category %></strong>
                              <h3 class="mb-0 txtcolor"><%= sorotan[i].title %></h3>
                              <div class="mb-1 text-muted"><%= moment(sorotan[i].createdAt).format( 'Do MMMM, YYYY'); %></div>
                          </div>
                      </div>
                    </a>
                </div>
                <% } %>
            </div>
            <div class="row row-cols-2" style="margin:auto;">
              <% for(var i=3;i<5; i++) { %>
                <div class="col-xs-6" style="padding-left: 5px; padding-right: 5px;">
                  <a class="cols-xs-6" href="/news/<%= sorotan[i]._id %>">
                      <img src="<%= sorotan[i].img %>" style="max-width: 100%;">
                  </a>
                  <h4>
                    <a class="headline txtcolor" href="/news/<%= sorotan[i]._id %>">
                      <%= sorotan[i].title %>
                    </a>
                  </h4>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        
        <br><br>

        <h3 class="txtcolor">Berita Terbaru</h3>
        <hr size="300px" noshade="">

        <div class="container">
          <% for(var i=0;i<5 ;i++) { %>
          <a href="/news/<%= freshNews[i]._id %>">
            <div
              class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col-auto d-none d-lg-block">
                <img src="<%= freshNews[i].img %>" style="width:auto;" class="bd-placeholder-img" width="200" height="250"
                  xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                  aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></img>
              </div>
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><%= freshNews[i].category %></strong>
                <h3 class="mb-0 txtcolor"><%= freshNews[i].title %></h3>
                <div class="mb-1 text-muted"><%= moment(freshNews[i].createdAt).format( 'Do MMMM, YYYY'); %></div>
              </div>
            </div>
          </a>
          <% } %>
        </div>

        <br><br>
        </div>
      </div>
    </div>